.btn-cool-blues {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

#exTab1 .tab-content > [id='a1']  {
    background-color: #1a5366;
}

#exTab1 .tab-content > [id='a2']  {
    background-color: #103e4d;
}

#exTab1 .tab-content > [id='a3']  {
    background-color: #06222b;
}

/* pills styling */
div#exTab1.container {
    padding-bottom: 64px;
}
li a.active {
    background: #E9C46A;
}
.nav-tabs > li > a.adopt-tab {
    color: #EF476F;
    border: none;
}
.nav-tabs > li > a.adopt-tab.active {
    background-color: #1a5366;
    color: white;
    border: none;
}
.nav-tabs > li > a.adopt-tab.active2 {
    background-color: #103e4d;
    color: white;
    border: none;
}
.nav-tabs > li > a.adopt-tab.active3 {
    background-color: #06222b;
    color: white;
    border: none;
}
.nav-tabs > li > a.donate-tab {
    color: #162466;
    border: none;
}
.nav-tabs > li> a.donate-tab.active {
    background-color: #FF6663;
    color: #fff;
    border: none;
}
.nav-tabs > li > a.join-tab {
    color: #FFD166;
    border: none;
}
.nav-tabs > li > a.join-tab.active {
    background-color: #FFD166;
    color: #fff;
    border: none;
}
