<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel = "import" href = "../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="gestor-clientes">
<template>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="import" href="/src/login-app/login-app.html">
<link rel="stylesheet" type="text/css" href="../../css/mis-estilos.css">
<link rel='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'>
<link rel="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
<style>
:host {
  display: block;
}
google-chart {
  height: 300px;
  width: 32em;
}
</style>

<div id="exTab1" class="container py-5 d-flex flex-column min-vh-100" hidden$={{!logado}}>
    <ul class="nav nav-tabs border-0">
        <li><a class="nav-link adopt-tab active" on-click="cambiarConsulta" data-toggle="tab" id="consultadocs">Docs. digitalizados</a></li>
        <li><a class="nav-link adopt-tab active2" on-click="cambiarAlta" data-toggle="tab" id="altadoctos">Alta de registros</a></li>
        <li><a class="nav-link adopt-tab active3" on-click="apiPublica" data-toggle="tab" id="apiPublica">Tipo de Cambio</a></li>
    </ul>
    <div class="tab-content d-flex flex-column flex-grow-1 text-secondary shadow-sm rounded-right rounded-bottom" id="divCEntral">
      <!------------------------------- Inicio de Div Documentos Digitalizados------------------------------------>
        <div class="tab-pane active flex-grow-1 p-4 rounded-right rounded-bottom adopt-tab" id="a1" hidden$={{cambioConsulta}}>
            <table>
                <tr>
                    <td>
                        <div class="row">
                            <google-chart type='pie'
                                options='{"title": "Consulta de resultados 2020", "is3D": "true", "legend":"left", "x":"20", "width":"500", "height":"300"}'
                                cols='[{"label":"Mes", "type":"string"}, {"label":"Digitales", "type":"number"}]'
                                rows='[[rowsdatosgrafica]]'>
                            </google-chart>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            &nbsp;
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <table class="table table-dark">
                                <tbody>
                                    <tr>
                                        <td>Mes</td>
                                        <td>Contratos</td>
                                        <td>Fatca</td>
                                        <td>KyC</td>
                                        <td>BCom</td>
                                        <td>Bmovil</td>
                                        <td>Total</td>
                                    </tr>
                                    <template is="dom-repeat" items="{{documentos}}">
                                        <tr>
                                            <td>[[item.mes]]</td>
                                            <td>[[item.contratos]]</td>
                                            <td>[[item.fatca]]</td>
                                            <td>[[item.kyc]]</td>
                                            <td>[[item.bcom]]</td>
                                            <td>[[item.bmovil]]</td>
                                            <td>[[item.total]]</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                    </td>
                </tr>
            </table>
        </div>
        <!------------------------------- Fin de Div Documentos Digitalizados------------------------------------>
        <!------------------------------- Inicio de Div Alta Documentos Digitalizados---------------------------->
        <div class="tab-pane active flex-grow-1 p-4 rounded-right rounded-bottom adopt-tab" id="a2" hidden$={{cambioAlta}}>
            <div class="form-group row">
                <div class="col-xs-3">
                    <iron-icon icon="icons:event" prefix></iron-icon>
                    Mes
                    <select class="form-control" value="{{mes::input}}">
                        <option>------- Seleccione -------</option>
                        <option value="Enero">Enero</option>
                        <option value="Febreo">Febrero</option>
                        <option value="Marzo">Marzo</option>
                        <option Abril="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Septiembre">Septiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="col-xs-3">
                    <iron-icon icon="icons:description" prefix></iron-icon>
                    Contratos <input type="number" value="{{contratos::input}}" class="form-control" on-keyup="obtenerTotal">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="col-xs-3">
                    <iron-icon icon="icons:description" prefix></iron-icon>
                    Fatca <input type="number" value="{{fatca::input}}" class="form-control" on-keyup="obtenerTotal">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="col-xs-3">
                    <iron-icon icon="icons:description" prefix></iron-icon>
                    KyC <input type="number" value="{{kyc::input}}" class="form-control" on-keyup="obtenerTotal">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <iron-icon icon="icons:description" prefix></iron-icon>
                    BCom <input type="number" value="{{bcom::input}}" class="form-control" on-keyup="obtenerTotal">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="col-xs-3">
                    <iron-icon icon="icons:description" prefix></iron-icon>
                    Bmovil <input type="number" value="{{bmovil::input}}" class="form-control" on-keyup="obtenerTotal">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="col-xs-3">
                    <iron-icon icon="icons:description" prefix></iron-icon>
                    Total <input type="number" value="{{total::input}}" class="form-control" readonly>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div>
                    <br>
                    <button on-click="altaDocumentos" type="button" name="button" class="col btn btn-cool-blues" id="btnAceptar">Guardar información</button>
                </div>
            </div>
        </div>
        <!------------------------------- Inicio de Div Alta Documentos Digitalizados---------------------------->
        <!------------------------------- Inicio de Div API banxico---------------------------------------------->
          <div class="tab-pane active flex-grow-1 p-4 rounded-right rounded-bottom adopt-tab" id="a3" hidden$={{cambioBanxico}}>

            <div class="row">
              [[cabeceraTabla]]
            </div>
            <div class="row">
              &nbsp;
            </div>
            <div class="row">
              <h5>Julio</h5>
            </div>
            <div class="row">
              [[resultadosTablaJulio]]
            </div>
            <div class="row">
              &nbsp;
            </div>
            <div class="row">
              <h5>Agosto</h5>
                &nbsp;
            </div>
            <div class="row">
              [[resultadosTablaAgosto]]
            </div>
          </div>
          <!------------------------------- Fin de Div API banxico---------------------------------------------->
    </div>
</div>

<iron-ajax
id="upDocuments"
  url="http://localhost:3000/InsertDocuments"
  content-type="application/json"
  crossDomain:true
  dataType:'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError">
</iron-ajax>
</template>
<script>
  /**
   * @customElement
   * @polymer
   */
   class GestorClientes extends Polymer.Element {
       static get is() {
           return 'gestor-clientes';
       }
       static get properties() {
           return {
               documentos: {
                   type: Array,
                   notify: true //llamado sincrono o asincrono
               },
               cambioConsulta: {
                   type: Boolean,
                   value: false
               },
               cambioAlta: {
                   type: Boolean,
                   value: true
               },
               cambioBanxico: {
                   type: Boolean,
                   value: true
               },
               logado: {
                 type: Boolean,
                 value: false
               },
               cambios: {
                   type: Array,
                   notify: true //llamado sincrono o asincrono
               },
           };
       }
       // Función para cambiar al alta de documentos
       cambiarAlta() {
           this.$.consultadocs.className = "nav-link adopt-tab active";
           this.$.altadoctos.className = "nav-link adopt-tab active2";
           this.$.divCEntral.className = "tab-content d-flex flex-column flex-grow-1 text-white shadow-sm rounded-right rounded-bottom";
           this.cambioConsulta = true;
           this.cambioAlta = false;
           this.cambioBanxico=true;
       }

       // Función para cambiar a la consulta de documentos
       cambiarConsulta() {
           this.$.consultadocs.className = "nav-link adopt-tab active";
           this.$.altadoctos.className = "nav-link adopt-tab active2";
           //this.$.divCEntral.className = "tab-content d-flex flex-column flex-grow-1 text-secondary shadow-sm rounded-right rounded-bottom";
           this.cambioConsulta = false;
           this.cambioAlta = true;
           this.cambioBanxico=true;
       }

       // Función para cambiar ir a API BANXICO
       apiPublica(){
         this.$.consultadocs.className = "nav-link adopt-tab active";
         this.$.altadoctos.className = "nav-link adopt-tab active2";
         this.$.divCEntral.className = "tab-content d-flex flex-column flex-grow-1 text-white shadow-sm rounded-right rounded-bottom";
         this.cambioAlta = true;
         this.cambioConsulta=true;
          this.cambioBanxico=false;
       }

       // Función par guardar los documentos ingresados
       altaDocumentos() {
           var insertData = {
               "mes": this.mes,
               "contratos": this.contratos,
               "fatca": this.fatca,
               "kyc": this.kyc,
               "bcom": this.bcom,
               "bmovil": this.bmovil,
               "total": this.total
           };
           //console.log(insertData);
           this.$.upDocuments.body = JSON.stringify(insertData);
           this.$.upDocuments.generateRequest();
           //console.log("Petición enviada Documentos");
       }

       manageAJAXResponse(data) {
           //console.log("Respuesta recibida del servidor documentos");
           alert("Datos resguardados correctamente")
           this.mes="";
           this.contratos="";
           this.fatca="";
           this.kyc="";
           this.bcom="";
           this.bmovil="";
           this.total="";
       }

       showError(error) {
           //console.log("Ocurrio un error documentos");
           alert("Datos ingresados incorrectos, por favor valide");
           //console.log(error);
       }

       calcularResultado(contratos, fatca, kyc, bcom, bmovil) {
           contratos = parseFloat(contratos);
           fatca = parseFloat(fatca);
           kyc = parseFloat(kyc);
           bcom = parseFloat(bcom);
           bmovil = parseFloat(bmovil);
           if (isNaN(contratos) || isNaN(fatca) || isNaN(kyc) || isNaN(bcom) || isNaN(bmovil)) {
               return 'Los operadores deben ser números';
           } else {
               return (contratos + fatca + kyc + bcom + bmovil);
           }
       }

       obtenerTotal() {
           this.total = parseFloat(this.contratos) + parseFloat(this.fatca) + parseFloat(this.kyc) + parseFloat(this.bcom) + parseFloat(this.bmovil)
           //console.log("valor: " + this.total);
       }

       // Obtener documentos resguardados (documentos)
       obtenerDocumentos() {
         var a1="", a2="", a3="", a4="",a5="",a6="",a7="",a8="",a9="",a10="",a11="",a12="",totalA="", i="";
           var request = new XMLHttpRequest();
           request.open("GET", "http://localhost:3000/Documentos", false);
           request.setRequestHeader("Accept", "application/json");
           request.send();
           this.documentos = JSON.parse(request.responseText);
           for(i=0; i<this.documentos.length; i++) {
             //console.log("longitud: "+this.documentos.length)
               if(i==0) {
                   a1=[this.documentos[i].mes,parseInt(this.documentos[i].total)]
                   totalA=[a1]
               }
               if(i==1) {
                   a2=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2]
               }
               if(i==2) {
                   a3=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3]
               }
               if(i==3) {
                   a4=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4]
               }
               if(i==4) {
                   a5=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5]
               }
               if(i==5) {
                   a6=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6]
               }
               if(i==6) {
                   a7=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6,a7]
               }
               if(i==7) {
                   a8=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6,a7,a8]
               }
               if(i==8) {
                   a9=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6,a7,a8,a9]
               }
               if(i==9) {
                   a10=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6,a7,a8,a9,a10]
               }
               if(i==10) {
                   a11=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11]
               }
               if(i==11) {
                   a12=[this.documentos[i].mes,parseInt(this.documentos[i].total)];
                   totalA=[a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12]
               }
           }
           this.rowsdatosgrafica=totalA;
       }

       // Obtener tipo de cambio API banxico
       obtenerTipoCambio() {
           var request = new XMLHttpRequest();
           request.open("GET", "http://localhost:3000/Cambios", false);
           request.setRequestHeader("Accept", "application/json");
           request.send();
           this.cambios = JSON.parse(request.responseText);
           var series=this.cambios.bmx.series;
           var i=0, regJ="", regA="", auxregJulio="", auxregAgosto="", mes="/07/", auxMes="", posicion="";
               var serie=series[i];
              for (var j=0; j<serie.datos.length; j++){
                  if(j==0){
                      this.cabeceraTabla=serie.titulo;
                  }
                  else {
                    auxMes=serie.datos[j].fecha;
                    posicion = auxMes.indexOf(mes);
                    //if(posicion=! -1){
                    if(serie.datos[j].fecha.indexOf('/07/')!= -1){
                      regJ=' Fecha: '+serie.datos[j].fecha+' Precio: $'+serie.datos[j].dato+" *"
                        auxregJulio += regJ;
                    }
                    else {
                      regA=' Fecha: '+serie.datos[j].fecha+' Precio: $'+serie.datos[j].dato+" *"
                      auxregAgosto += regA;
                    }
              }

           }
           this.resultadosTablaJulio=auxregJulio;
          this.resultadosTablaAgosto=auxregAgosto;
       }

       ready() {
           super.ready();
           this.addEventListener('click', this.obtenerDocumentos);
           this.addEventListener('click', this.obtenerTipoCambio);
       }
   }

  window.customElements.define(GestorClientes.is, GestorClientes);
</script></dom-module>
