<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel = "import" href = "../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="login-app">
<template>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!--link rel="stylesheet" type="text/css" href="styles.css"-->
<link rel="import" href="/src/login-app/datos-registro.html">
<link rel="import" href="/src/gestor-clientes/gestor-clientes">
<link rel="stylesheet" type="text/css" href="/css/mis-estilos.css">
<style>
:host {
  display: block;
}
</style>
<body>
    <div class="d-flex justify-content-center h-200">
        <!---------------------------- Inicia div del login ---------------------->
        <div class="card" hidden$={{logado}}>
            <div class="card bg-info text-white">
                <h3 align="center">Bienvenido</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    Ingrese sus datos por favor .....
                    <br>
                    &nbsp;
                    &nbsp;
                </div>
                <div class="row">
                    <iron-icon icon="account-circle" prefix></iron-icon>
                    Correo electrónico <input type="email" value="{{email::input}}" class="form-control" placeholder="Ejemplo: mi_correo@gmail.com">
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <iron-icon icon="lock-outline" prefix></iron-icon>
                    Contraseña <input type="password" value="{{password::input}}" class="form-control" placeholder="********" maxlength="8" on-keyup="onKeyUpPass">
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="" align="right">
                    <!--button on-click="login" type="button" name="button" class="btn btn-success btn-block" id="btnAceptar" disabled-->
                    <button on-click="login" type="button" name="button" class="col btn btn-cool-blues" id="btnAceptar" disabled>
                        Ingresar</button>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <button type="button" class="btn btn-link" on-click="mostrarAlta">¿Eres nuevo? Registrate</button>
                </div>
            </div>
        </div>
        <!---------------------------- Fin div del login ---------------------->
        <!---------------------------- Inicia div datos registro ---------------------->
        <div class="card" hidden$={{divAltaUsuario}}>
            <div class="card bg-info text-white">
                <h3 align="center">Registro de usuario</h3>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
                <div class="row">
                    <iron-icon icon="account-circle" prefix></iron-icon>
                    Nombre <input type="txtnombre" value="{{nombre::input}}" class="form-control">
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <iron-icon icon="more-horiz" prefix></iron-icon>
                    Apellido <input type="txtapellido" value="{{apellido::input}}" class="form-control">
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <iron-icon icon="markunread" prefix></iron-icon>
                    Correo electrónico <input type="email" value="{{correo::input}}" class="form-control" placeholder="Ejemplo: mi_correo@gmail.com">
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <iron-icon icon="lock-outline" prefix></iron-icon>
                    Contraseña <input type="password" value="{{passwordRegistro::input}}" class="form-control" placeholder="********" maxlength="8" on-keyup="onKeyUpPassRegister">
                </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="" align="right">
                    <!--button on-click="login" type="button" name="button" class="btn btn-primary" id="btnAceptar">Aceptar</button-->
                    <button on-click="altaUsuario" type="button" name="button" class="col btn btn-cool-blues" id="btnAceptarDatos" disabled>Guardar</button>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <button type="button" class="btn btn-link" on-click="mostrarLogin">Regresar</button>
                </div>
            </div>
        </div>
        <!---------------------------- Fin div datos registro ---------------------->
    </div>
    <div class="rows" hidden$={{!loginOK}}>
      <div class="d-flex justify-content-center h-200" >
          <span>&nbsp;</span>
          <gestor-clientes></gestor-clientes>
      </div>
    </div>
</body>

<iron-ajax
id="doInsert"
  url="http://localhost:3000/InsertData"
  content-type="application/json"
  crossDomain:true
  dataType:'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponseUsers"
  on-error="showErrorUsers">
</iron-ajax>
<iron-ajax
id="doLogin"
  url="http://localhost:3000/Login"
  content-type="application/json"
  crossDomain:true
  dataType:'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError">
</iron-ajax>
</template>
<script>
/*** @customElement * @polymer*/
class LoginApp extends Polymer.Element {
static get is() {
  return 'login-app';
}

static get properties() {
  return {
    email: {
      type: String
    },
    password: {
      type: String
    },
    logado: {
      type: Boolean,
      value: false
    },
    divAltaUsuario:{
      type: Boolean,
      value: true
    },
    nombre: {
      type: String
    },
    apellido: {
      type: String
    },
    correo: {
      type: String
    },
    passwordRegistro: {
      type: String
    },
    loginOK: {
     type: Boolean,
     value: false
     }
    };
  }
  /// Funciones para el llamado del Login
  login() {
      var loginData = {
          "email": this.email,
          "password": this.password
      };
      //console.log(loginData);
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      //console.log("Petición enviada");
  }

  manageAJAXResponse(data) {
      //console.log("Respuesta recibida del servidor");
      //console.log(data.detail.response);
      this.logado = true;
      this.loginOK = true;
      //alert("welcome")
  }

  showError(error) {
      //console.log("Ocurrio un error");
      alert("Datos ingresados incorrectos, por favor valide sus datos");
      //console.log(error);
  }

  /// Validación para habilitar botón de Ingresar
  onKeyUpPass() {
      if (this.password.length == 8) {
          this.$.btnAceptar.disabled = false;
          this.$.btnAceptar.className = "col btn btn-dark-blue";
      } else {
          this.$.btnAceptar.disabled = true;
          this.$.btnAceptar.className = "col btn btn-cool-blues";
      }
  }

  /// Funciones Cambio de vistas
  mostrarAlta() {
      this.logado = true;
      this.divAltaUsuario = false;
      this.email="";
      this.password="";

      this.nombre = "";
      this.apellido = "";
      this.correo = "";
      this.passwordRegistro = "";
  }
  mostrarLogin() {
      this.logado = false;
      this.divAltaUsuario = true;
      //this.datosRegistro = true;
  }

  /// Funciones para el llamado del alta de usuario
  altaUsuario() {
      var loginData = {
          "nombre": this.nombre,
          "apellido": this.apellido,
          "correo": this.correo,
          "password": this.passwordRegistro
      };
      this.$.doInsert.body = JSON.stringify(loginData);
      this.$.doInsert.generateRequest();
      //console.log("Petición enviada users");
  }

  manageAJAXResponseUsers(data) {
      //console.log("Respuesta recibida del servidor users");
      //console.log(data.detail.response);
      this.logado = true;
      alert("Usuario dado de alta con éxito")
      this.divAltaUsuario = true;
      this.logado = false;
      this.nombre = "";
      this.apellido = "";
      this.correo = "";
      this.passwordRegistro = "";
  }

  showErrorUsers(error) {
      //console.log("Ocurrio un error users");
      alert("Datos ingresados incorrectos, por favor valide sus datos users");
      //console.log(error);
  }

  showAlta() {
      this.logado = true;
      this.datoslogin = true;
  }

  /// Validación para habilitar botón de Guardar
  onKeyUpPassRegister() {
      if (this.passwordRegistro.length == 8) {
          this.$.btnAceptarDatos.disabled = false;
          this.$.btnAceptarDatos.className = "col btn btn-dark-blue";
      } else {
          this.$.btnAceptarDatos.disabled = true;
          this.$.btnAceptarDatos.className = "col btn btn-cool-blues";
      }
  }

}

window.customElements.define(LoginApp.is, LoginApp);

</script>
</dom-module>
